# Examples notebook

In this notebook, we show one example per possible API call.

## Installation

In [1]:
!pip uninstall fso_metadata -y
!pip install fso_metadata

WARNING: Skipping fso-metadata as it is not installed.
Collecting fso_metadata
  Downloading fso_metadata-0.8.1-py3-none-any.whl (7.6 kB)
Requirement already satisfied: openpyxl in /opt/conda/lib/python3.9/site-packages (from fso_metadata) (3.0.9)
Requirement already satisfied: pandasdmx in /opt/conda/lib/python3.9/site-packages (from fso_metadata) (1.8.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (from fso_metadata) (1.4.1)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.9/site-packages (from openpyxl->fso_metadata) (1.1.0)
Requirement already satisfied: numpy>=1.18.5 in /opt/conda/lib/python3.9/site-packages (from pandas->fso_metadata) (1.22.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas->fso_metadata) (2021.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.9/site-packages (from pandas->fso_metadata) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->fso_metadata) (1.16.0)
Requirement already satisfied: requests>=2.15 in /opt/conda/lib/python3.9/site-packages (from pandasdmx->fso_metadata) (2.26.0)
Requirement already satisfied: pydantic<3.10,>=1.8.1 in /opt/conda/lib/python3.9/site-packages (from pandasdmx->fso_metadata) (1.9.0)
Requirement already satisfied: lxml>=4.1 in /opt/conda/lib/python3.9/site-packages (from pandasdmx->fso_metadata) (4.8.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/conda/lib/python3.9/site-packages (from pydantic<3.10,>=1.8.1->pandasdmx->fso_metadata) (3.10.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.15->pandasdmx->fso_metadata) (2021.5.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests>=2.15->pandasdmx->fso_metadata) (2.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.15->pandasdmx->fso_metadata) (1.26.6)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.15->pandasdmx->fso_metadata) (3.1)
Installing collected packages: fso-metadata
Successfully installed fso-metadata-0.8.1
WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the '/opt/conda/bin/python3 -m pip install --upgrade pip' command.

# Import functions

In [2]:
from fso_metadata import (
    get_codelist, 
    get_data_structure,
    get_nomenclature_one_level,
    get_nomenclature_multiple_levels,
)

## Available everywhere with the interoperability plateform (i14y)

[i14y Swagger UI](https://www.i14y.admin.ch/api/index.html)

### Code List

In [11]:
# Get a codelist pd.Serie based on an identifier
codelist = get_codelist(identifier='CL_NOGA_SECTION', export_format="SDMX-ML", version_format=2.1)
codelist

,name,parent
CL_NOGA_SECTION,,
A,"AGRICULTURE, FORESTRY AND FISHING",CL_NOGA_SECTION
B,MINING AND QUARRYING,CL_NOGA_SECTION
C,MANUFACTURING,CL_NOGA_SECTION
D,"ELECTRICITY, GAS, STEAM AND AIR-CONDITIONING S...",CL_NOGA_SECTION
E,"WATER SUPPLY; SEWERAGE, WASTE MANAGEMENT AND R...",CL_NOGA_SECTION
F,CONSTRUCTION,CL_NOGA_SECTION
G,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,CL_NOGA_SECTION
H,TRANSPORTATION AND STORAGE,CL_NOGA_SECTION
I,ACCOMMODATION AND FOOD SERVICE ACTIVITIES,CL_NOGA_SECTION
J,INFORMATION AND COMMUNICATION,CL_NOGA_SECTION
K,FINANCIAL AND INSURANCE ACTIVITIES,CL_NOGA_SECTION
L,REAL ESTATE ACTIVITIES,CL_NOGA_SECTION
M,"PROFESSIONAL, SCIENTIFIC AND TECHNICAL ACTIVITIES",CL_NOGA_SECTION
N,ADMINISTRATIVE AND SUPPORT SERVICE ACTIVITIES,CL_NOGA_SECTION
O,PUBLIC ADMINISTRATION AND DEFENCE; COMPULSORY ...,CL_NOGA_SECTION
P,EDUCATION,CL_NOGA_SECTION
Q,HUMAN HEALTH AND SOCIAL WORK ACTIVITIES,CL_NOGA_SECTION
R,"ARTS, ENTERTAINMENT AND RECREATION",CL_NOGA_SECTION
S,OTHER SERVICE ACTIVITIES,CL_NOGA_SECTION
T,ACTIVITIES OF HOUSEHOLDS AS EMPLOYERS; UNDIFFE...,CL_NOGA_SECTION
U,ACTIVITIES OF EXTRATERRITORIAL ORGANISATIONS A...,CL_NOGA_SECTION

### Nomenclature

In [8]:
# Get one level of a nomenclature in a dataframe
filters = {'code': ['1']} # TODO: ask what filters are and how they work
single_level = get_nomenclature_one_level(identifier='HCL_CH_ISCO_19_PROF', filters=filters, level_number=2, language='fr', annotations=False)
single_level.head()

  Code Parent                                            Name_fr
0   01      0                        Officiers des forces armées
1   02      0                   Sous-officiers des forces armées
2   03      0                   Autres membres des forces armées
3   10      1    Directeurs, cadres de direction et gérants, sip
4   11      1  Directeurs généraux, cadres supérieurs et memb...

In [9]:
# Get multiple levels of a nomenclature in a dataframe
filters = {'code': ['1']}
multiple_levels = get_nomenclature_multiple_levels(
    identifier='HCL_CH_ISCO_19_PROF', 
    level_from=1, level_to=6, 
    filters=filters, 
    language='it'
)
multiple_levels.head(10)

,Grandi_gruppi,Grandi_sottogruppi,Sottogruppi,Gruppi_di_base,Genere,Professioni,Code,Name_it
0,0,NaN,NaN,NaN,NaN,NaN,0,Forze armate
1,NaN,01,NaN,NaN,NaN,NaN,01,Ufficiali delle forze armate
2,NaN,NaN,011,NaN,NaN,NaN,011,Ufficiali delle forze armate
3,NaN,NaN,NaN,0110,NaN,NaN,0110,Ufficiali delle forze armate
4,NaN,NaN,NaN,NaN,01100,NaN,01100,Ufficiali delle forze armate
5,NaN,NaN,NaN,NaN,NaN,36104002,36104002,Ufficiale delle telecomunicazioni
6,NaN,NaN,NaN,NaN,NaN,36104003,36104003,Comandante di circondario
7,NaN,NaN,NaN,NaN,NaN,36104004,36104004,Comandante di circondario di fortificazione
8,NaN,NaN,NaN,NaN,NaN,36104005,36104005,Divisionario | Divisionaria
9,NaN,NaN,NaN,NaN,NaN,36104006,36104006,Ufficiale di carriera

In [10]:
multiple_levels_processed = get_nomenclature_multiple_levels(
    identifier='HCL_CH_ISCO_19_PROF', 
    level_from=1, level_to=6, 
    filters=filters, 
    language='it', 
    post_processing=True
)
multiple_levels_processed.head(10)

,Grandi_gruppi,Grandi_sottogruppi,Sottogruppi,Gruppi_di_base,Genere,Professioni,Code,Name_it
0,0,NaN,NaN,NaN,NaN,NaN,0,Forze armate
1,0,01,NaN,NaN,NaN,NaN,01,Ufficiali delle forze armate
2,0,01,011,NaN,NaN,NaN,011,Ufficiali delle forze armate
3,0,01,011,0110,NaN,NaN,0110,Ufficiali delle forze armate
4,0,01,011,0110,01100,NaN,01100,Ufficiali delle forze armate
5,0,01,011,0110,01100,36104002,36104002,Ufficiale delle telecomunicazioni
6,0,01,011,0110,01100,36104003,36104003,Comandante di circondario
7,0,01,011,0110,01100,36104004,36104004,Comandante di circondario di fortificazione
8,0,01,011,0110,01100,36104005,36104005,Divisionario | Divisionaria
9,0,01,011,0110,01100,36104006,36104006,Ufficiale di carriera